/* @import url('https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css'); */
*{
    user-select: none;
}
body{
    background-color:rgba(29,28,28,255);
    color:white;
    font-family:Arial, Helvetica, sans-serif;
}
body{
    margin: 0;
    padding: 0;
}
section{
    padding: 2%;
}
.big-heading{
    font-size: 52px;
    text-align: center;
    font-weight: 600;
    margin: 30px 10px;
}
.app-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0;
    height: 600px;
}
.app-container .column{
    position: relative;
    height: 1080px;
    width: 300px;
}

.draggables{
    width: 20%;
    float: left;
}
.draggables .heading{
    color: gray;
    font-size: 36px;
    padding: 12px;
    text-align: center;
    margin-bottom: 10px;
}
.draggables .items{

}
.draggables .items .item{
    /* position: absolute; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 84px;
    height: 84px;
    background-color: gray;
    border-radius: 84px;
    /* padding: 12px 4px; */
    margin: 16px auto;
    cursor: move;
    user-select: none;
    touch-action: none;
}
.draggables .items .item:hover{
    opacity: 0.5;
}
.draggables .items .item h1{
    background-color: inherit;
    font-size: 38px;
    text-align: center;
    color: black;
    /* position: absolute;
    top:50%;
    left:50%; */
    background-color: gray;
}



.dropbox{
    width: 40%;
    float: left;
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dropbox .folder{
    display: flex;
    justify-content: center;
    align-items: center;      
    position: relative;
    user-select: none;
    transition: all 0.3s ease-in-out;
    /* height: 300px;
    width: 300px; */
}
.dropbox .folder:hover{
    /* transform: scale(1.05); */
    transition: all 0.3s ease-in-out;
}
.dropbox .folder img{
    position: relative;
    height: auto;
    width: 50%;
    /* align-self:  baseline; */
    /* bottom: 0;
    left: 50%;
    right: 50%; */
}
.dropbox .folder .label{
    text-align: center;
    font-size: 26px;
    font-weight: 600;
    color: brown;
    /* color: black; */
    text-shadow: 2px 2px 10px goldenrod;
    position: absolute;
    /* left:10%; */
}
.dropbox .folder .label .count{
    position: relative;
    /* top:15%; */
    font-size: 24px;
    height: 30px;
    width:30px;
    border-radius: 30px;
    background-color: maroon;
    color: white;
    /* filter: brightness(0.6); */
    text-align: center;
    margin: auto;
}



.dropstack{
    width: 40%;
    float: left;
    min-height: 400px;
}
.dropstack .heading{
    color:gray;
    text-align: center;
    font-size:36px;
    padding:8px;
    margin-bottom: 16px;
}
.dropstack .block{
    background-color: gray;
    width: fit-content;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-left:auto;
    margin-right: auto;
    padding: 4px;
    font-size: 24px;
    text-align: center;
}
.dropstack .block i:hover{
    filter: invert(1);
}



@media (max-width: 600px) {
    *{
      font-size: 95% !important;
    }
    .app-container{
        display: block;
    }
    .app-container .column{
        width: 100% !important;
        display: block !important;
    }
    .app-container .column .heading{
        font-size: 10px !important
    }
    .draggables .items .item{
        width: 44px;
        height: 44px;
        border-radius: 44px;
    }
    .draggables .items .item h1{
        font-size: 22px;
    }
    .dropbox .folder img{
        height: auto;
        width:80%;
    }
  }
